In [10]:
import pandas as pd

exams = pd.read_csv("exams.csv")
exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86

In [12]:
# 找到gender欄位，並從中選取male和female的資料列
male_rows = exams[exams['gender'] == 'male']
female_rows = exams[exams['gender'] == 'female']

# 使用value_counts()方法分別統計male和female的數量
num_male = male_rows['gender'].value_counts()[0]
num_female = female_rows['gender'].value_counts()[0]

print(f"男生的總人數為：{num_male}")
print(f"女生的總人數為：{num_female}")

男生的總人數為：508
女生的總人數為：492

In [13]:
#男生數學平均分數
male_df = df.loc[df['gender'] == 'male']
male_math_avg = male_df['math score'].mean()
print("男生數學平均分數為:", male_math_avg)

男生數學平均分數為: 70.75

In [14]:
#女生數學平均分數
female_df = df.loc[df['gender'] == 'female']
female_math_avg = female_df['math score'].mean()
print("女生數學平均分數為:", female_math_avg)

女生數學平均分數為: 64.77439024390245

In [15]:
#男生閱讀平均分數
male_df = df.loc[df['gender'] == 'male']
male_reading_avg = male_df['reading score'].mean()
print("男生閱讀平均分數為:", male_reading_avg)

男生閱讀平均分數為: 67.38779527559055

In [16]:
#女生閱讀平均分數
female_df = df.loc[df['gender'] == 'female']
female_reading_avg = female_df['reading score'].mean()
print("女生閱讀平均分數為:", female_reading_avg)

女生閱讀平均分數為: 73.47357723577235

In [17]:
#男生寫作平均分數
male_df = df.loc[df['gender'] == 'male']
male_writing_avg = male_df['writing score'].mean()
print("男生寫作平均分數為:", male_writing_avg)

男生寫作平均分數為: 64.97637795275591

In [18]:
#女生寫作平均分數
female_df = df.loc[df['gender'] == 'female']
female_writing_avg = female_df['writing score'].mean()
print("女生寫作平均分數為:", female_writing_avg)

女生寫作平均分數為: 73.4390243902439

In [23]:
#男生數學成績分布情形
import numpy as np

# 創建分類區間
bins = [0, 60, 70, 80, 90, 100]

# 創建分類標籤
labels = ['<60', '60-70', '70-80', '80-90', '90+']

# 將數學成績按分類區間分類
df['Math Score Ranges_Male'] = pd.cut(df['math score'], bins=bins, labels=labels, include_lowest=True)

# 將男性成績按分類區間分組並計算人數
male_scores = df.loc[df['gender'] == 'male', 'Math Score Ranges'].value_counts().sort_index()

# 修改欄位標題
male_scores = male_scores.rename_axis('Math Score').reset_index(name='Count')

# 輸出結果
print(male_scores)

  Math Score  Count
0        <60    130
1      60-70    111
2      70-80    125
3      80-90     97
4        90+     45

In [24]:
#女生數學成績分布情形
import numpy as np

# 創建分類區間
bins = [0, 60, 70, 80, 90, 100]

# 創建分類標籤
labels = ['<60', '60-70', '70-80', '80-90', '90+']

# 將數學成績按分類區間分類
df['Math Score Ranges_Female'] = pd.cut(df['math score'], bins=bins, labels=labels, include_lowest=True)

# 將男性成績按分類區間分組並計算人數
male_scores = df.loc[df['gender'] == 'female', 'Math Score Ranges'].value_counts().sort_index()

# 修改欄位標題
male_scores = male_scores.rename_axis('Math Score').reset_index(name='Count')

# 輸出結果
print(male_scores)

  Math Score  Count
0        <60    174
1      60-70    144
2      70-80     89
3      80-90     69
4        90+     16