In [6]:
#匯入csv檔案
#2022韓國Netflix戲劇/綜藝榜單
import pandas as pd

data1 = pd.read_csv("list1.csv",encoding="Big5")
data1

   排名 drama/variety show
0   1           那年，我們的夏天
1   2            二十五，二十一
2   3           不可殺：永生之靈
3   4               殭屍校園
4   5             氣象廳的人們
5   6                三十九
6   7               少年法庭
7   8           梨泰院Class
8   9              單身即地獄
9  10               社內相親

In [2]:
#2022台灣Netflix戲劇/綜藝榜單
import pandas as pd

data2 = pd.read_csv("list2.csv",encoding="Big5")
data2

   排名 drama/variety show
0   1            二十五，二十一
1   2               社內相親
2   3             來吧！營業中
3   4            我們的藍調時光
4   5               且試天下
5   6               華燈初上
6   7           那年，我們的夏天
7   8             氣象廳的人們
8   9                三十九
9  10             我的出走日記

In [12]:
set_data2 = set(data2["drama/variety show"])
set_data2

{'三十九',
 '且試天下',
 '二十五，二十一',
 '來吧！營業中',
 '我們的藍調時光',
 '我的出走日記',
 '氣象廳的人們',
 '社內相親',
 '華燈初上',
 '那年，我們的夏天'}

In [13]:
set_data1 = set(data1["drama/variety show"])
set_data1

{'三十九',
 '不可殺：永生之靈',
 '二十五，二十一',
 '單身即地獄',
 '少年法庭',
 '梨泰院Class',
 '殭屍校園',
 '氣象廳的人們',
 '社內相親',
 '那年，我們的夏天'}

In [14]:
#交集
#2022韓國和台灣Netflix同時上榜的戲劇/綜藝
(set_data1 & set_data2)

{'三十九', '二十五，二十一', '氣象廳的人們', '社內相親', '那年，我們的夏天'}

In [15]:
#聯集
#2022韓國和台灣Netflix有上榜的戲劇/綜藝
(set_data1 | set_data2)

{'三十九',
 '不可殺：永生之靈',
 '且試天下',
 '二十五，二十一',
 '來吧！營業中',
 '單身即地獄',
 '少年法庭',
 '我們的藍調時光',
 '我的出走日記',
 '梨泰院Class',
 '殭屍校園',
 '氣象廳的人們',
 '社內相親',
 '華燈初上',
 '那年，我們的夏天'}

In [16]:
#差集
#2022韓國Netflix有上榜但台灣沒有的戲劇/綜藝
(set_data1 - (set_data1 & set_data2))

{'不可殺：永生之靈', '單身即地獄', '少年法庭', '梨泰院Class', '殭屍校園'}

In [17]:
#對稱差集
#2022只有韓國Netflix或只有台灣Netflix上榜的戲劇/綜藝
(set_data1 | set_data2 - (set_data1 & set_data2))

{'三十九',
 '不可殺：永生之靈',
 '且試天下',
 '二十五，二十一',
 '來吧！營業中',
 '單身即地獄',
 '少年法庭',
 '我們的藍調時光',
 '我的出走日記',
 '梨泰院Class',
 '殭屍校園',
 '氣象廳的人們',
 '社內相親',
 '華燈初上',
 '那年，我們的夏天'}